# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
android/app/build/
android/.gradle/
android/build/
*.apk
*.aab
*.keystore
!debug.keystore

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.production

# TypeScript
*.tsbuildinfo

# Jest
coverage/

# Metro
.metro-health-check*
